// - Mixins

clearfix()
  &:before, &:after
    display table
    content ""
  &:after
    clear both

card()
  background white
  position relative
  border 1px solid #e4e4e4
  border-radius 2px
  width 640px
  transition box-shadow 0.2s ease

  &.previewing
    box-shadow 0 0 9px 0 #e4e4e4


// - Variables

highlight-color = rgb(87,148,255)
main-header-height = 40px
sub-header-height = 36px


// - Animations

.fade-enter-active, .fade-leave-active
  transition opacity .2s

.fade-enter, .fade-leave-to
  opacity 0
