// - Mixins

clearfix()
  &:before, &:after
    display table
    content ""
  &:after
    clear both

card()
  background white
  position relative
  box-shadow 0 1px 2px rgba(0,39,36,0.1)
  border-radius 2px
  width 640px
  transition box-shadow 0.2s ease

  &.previewing
    box-shadow 0 2px 6px rgba(0,39,36,0.1)


// - Variables

highlight-color = rgb(87,148,255)
card-list-bg-color = #f1f1f1

main-header-height = 40px
sub-header-height = 36px


// - Animations

.fade-enter-active, .fade-leave-active
  transition opacity .2s

.fade-enter, .fade-leave-to
  opacity 0
