/*
 *= require reset
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

header.main {
  background: #333;
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
}
