/*
 *= require reset
 *= require_self
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, button, input, textarea {
  font-family: "Open Sans", sans-serif;
}
