<header class="main">
  <div class="left"><a href="/">Dark Squares</a></div>

  <div class="right">
    <a href="/importer">Import game</a>
    <a href="/games">Games</a>
    <a href="/annotations">Annotations</a>
  </div>
</header>

<div class="header-spacer"></div>
